
html, body, div, ul, li, table, td, tr, p {
    margin: 0;
    padding: 0;
}

html, body {
    background: #999966;
    font-family: "Lato", sans-serif;
}

header {
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #999966;
}

section {
    padding: 2% 10%;
    width: 80%;
    background: floralwhite;
    display: inline-block;
    margin-top: 50px;
}

#page_title {
    float: left;
    font-size: 2em;
    line-height: 2em;
    padding-left: 20px;
    margin-right: 8%;
    width: 27%;
    color: #ffffff;
    font-family: "Lato", sans-serif;

}


#page_title a {
    color: #ffffff;
    text-decoration: none;
}

nav {
    width: 40%;
    margin: 10px auto;
    padding: 10px 0;
}

ul li {
    float: left;
    list-style-type: none;
    margin-right: 24px;
}

ul li a {
    display: block;
    width: 100%;
    font-size: 1.2em;
    color: #ffffff;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

#contact_form {
    display: block;
    float: none;
    margin: 10px auto;
    width: 60%;
}

input, textarea {
    background: #999966 none repeat scroll 0 0;
    border: medium none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 2em;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    transition: background-color 1s;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    background: peru;
}

h1, h4 {
    margin: 10px auto;
    text-align: center;
}

input[type="submit"], button {
    cursor: pointer;
    background: peru;
    transition: background-color 1s;
}

input[type="submit"]:hover, button:hover {
    background: tomato;
}

.sticky {
    position: fixed;
    right: 3px;
    top: 58%;
    width: 247px;
    height: auto;
    border: 2px solid #999966;
    background: #888a85;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px;
}

.sticky .elem {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.elem a {
    color: #ffffff;
    text-decoration: none;
}

.elem a:hover, .elem a:focus {
    text-decoration: underline;
}

